<div class="color1">
  <section id="about-us">
    <h2>The Bride &amp; Groom</h2>

    <div class='bios'>
      <div class='jeff'>

        <h3><em>Jeff</em></h3>

        <p>
          Jeff taught himself programming and now teaches software development.
        </p>

        <p>
          He has a knack for ordering the best dish on the menu.
        </p>

        <p>
          Jeff’s talents include sandwich-making, coordinating road trips and strategy games.
        </p>

        <p>
          He is an avid reader and huge sci-fi fan.
        </p>

        <p>
          He keeps Clare going when she is foolish enough to go for a run with him.
        </p>

        <p>
          He has a pretty sharp internal compass but will never ask for directions when he’s lost.
        </p>

        <p>
          He’s very good at pushing Clare outside her comfort zone -- hiking, unplanned trips, eating onions with jam.
        </p>

        <p>
          He consumes about a pot of coffee each day and a lot of sriracha sauce.
        </p>

      </div>

      <div class='clare'>

        <h3><em>Clare</em></h3>

        <p>
          Clare love big dogs and sometimes embarrasses Jeff by stopping people in the street to pet their dogs.
        </p>

        <p>
          Clare is a huge Florida Gators football fan. She has been known to verbally assault TVs in sports bars.
        </p>

        <p>
          She was the editor-in-chief of her college newspaper and is now pursuing a career in news reporting.
        </p>

        <p>
          She cried when she walked into the Harry Potter theme park.
        </p>

        <p>
          Clare considers Hermione Granger and Liz Lemon to be her spirit animals.
        </p>

        <p>
          She is good at grounding Jeff and helps him prioritize his many ambitions.
        </p>

        <p>
          Bruce Springsteen’s “Rosalita” has been her favorite song since she was 12.
        </p>

      </div>
    </div>
  </section>
</div>



