<section id="about-us">
  <h1>The Bride &amp; Groom</h1>

  <aside id="about-us">
    We’re lucky to have enough friends and family members that we could create an intramural kickball league. (Kidding, but it’s not a bad idea.) This does mean not everyone has met both of us, so here’s a chance for you to learn a little about each of us.<br>
  <em>-Clare</em>
  </aside>

  <div class='bios'>
    <div class='jeff'>

      <h2>JEFF</h2>

      <em>-programmer, born in Tampa, lives in Brooklyn, New York</em>

      <p>
        This is where I (Clare) get to exercise my role as the writer and tell you all how amazing this man is.
      </p>

      <p>
        Jeff dives into everything he does. He decided to learn programming, so he taught himself and got a job in the field. Then he got a promotion and a teaching job after that. He orders a new book on coding and data every few weeks.
      </p>

      <p>
        He reads faster than anyone I’ve ever met.
      </p>

      <p>
        He has a knack for ordering the best dish on the menu.
      </p>

      <p>
        Jeff’s talents include sandwich-making, coordinating road trips and strategy games.
      </p>

      <p>
        He makes me keep going when I’m foolish enough to go for a run with him.
      </p>

      <p>
        He has a pretty sharp internal compass but will never ask for directions when he’s lost.
      </p>

      <p>
        If you watch football with him, you will feel like you know absolutely nothing about the game.
      </p>

      <p>
        Or maybe that’s just me.
      </p>

      <p>
        He’s very good at pushing me outside my comfort zone -- hiking, unplanned trips, eating onions with jam.
      </p>

      <p>
        He consumes about a pot of coffee each day and a lot of sriracha sauce.
      </p>

      <p>
        He’s a charmer.
      </p>

      <p>
        He knows something about everything.
      </p>
    </div>

    <div class='clare'>

      <h2>CLARE</h2>

      <em>-reporter, born in Tampa, lives in Tampa</em>

      <p>
        On our first date, I spilled sushi everywhere. I also didn’t really know it was a date.
      </p>

      <p>
        I love big dogs, and sometimes I embarrass Jeff by asking people what breed their dogs are
      </p>

      <p>
        I really, really love Harry Potter. (I know every 20-something says that. But I cried when I walked into the Harry Potter theme park.)
        Ten years later, I can still quote just about all the lines from The Lord of the Rings movies.
      </p>

      <p>
        Until I met Jeff, I was pretty sure I would be single until my 40s, and I was comfortable with that.
      </p>

      <p>
        I tend toward workaholism.
      </p>

      <p>
        I feel kindred spirits in Hermione Granger and Liz Lemon.
      </p>

      <p>
        Pickles are the only food I have never liked. I try them every few years, because when this comes up, someone always asks me if I’ve tried them recently.
      </p>

      <p>
        When I’m stressed out, I start throwing things away.
      </p>

      <p>
        Name a classic television show or movie. I probably haven’t seen it.
      </p>

      <p>
        Bruce Springsteen’s “Rosalita” has been my favorite song since I was 12.
      </p>
    </div>
  </div>

</section>



