<div class="color2">
  <section id="accommodations">
    <h2>Accommodations</h2>
    <p>We have reserved blocks at two hotels. Instructions for each one follows.</p>
    <div class="bios">

      <div class="two-columns">
        <%=link_to("http://www.marriott.com/hotels/travel/tpaws-residence-inn-tampa-westshore-airport/","<h3>The Mariot Residence</h3>")%>

        <p><b>$89</b></p>

        <p>call 1-800-331-3131 </p>

        <p>Tell the operator that you are part of the 'Lennon-Baird' wedding</p>

      </div>

      <div class="two-columns">
        <%=link_to("http://doubletree.hilton.com/en/dt/groups/personalized/T/TPARHDT-LBW-20131107/index.jhtml?WT.mc_id=POG","<h3>DoubleTree Suites by Hilton</h3>")%>

        <p><b>$99</b></p>
        <p>Visit the link above and follow the instructions</p>
      </div>
    </div>
  </section>
</div>