<div class="color2">
  <section id="ceremony">
    <h2>The Big Day</h2>
    <div class="bios">
      <div class="two-columns">
        <h3>Ceremony</h3>
        <p>
          Jeffrey and Clare will be married in a 2 p.m. ceremony at Christ the King Catholic Church in Tampa.
        </p>
        <address>
          821 South Dale Mabry Highway <br>
          Tampa, FL
        </address>
        <br>

        <div style="width:425px;height:350px">
          <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=821%2BSouth%2BDale%2BMabry%2BHighway%2BTampa%2C%2BFL&ie=UTF8&z=16&t=m&iwloc=near&output=embed"></iframe>
          <br>
          <table width="425" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=821%2BSouth%2BDale%2BMabry%2BHighway%2BTampa%2C%2BFL&ie=UTF8&z=16&t=m&iwloc=near">View Larger Map</a></small></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="two-columns">
        <h3>Reception</h3>

        <p>
          A cocktail-style reception will follow at Higgins Hall, located on the St. Lawrence Catholic Church grounds.
        </p>
        <address>
          5225 N Himes Ave,<br>
          Tampa, FL
        </address>
        <br>

        <div class="map">
          <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=5225%2BN%2BHimes%2BAve%2BTampa%2C%2BFL&ie=UTF8&z=16&t=m&iwloc=near&output=embed">
          </iframe><br>
          <table width="425" cellpadding="0" cellspacing="0" border="0"><tr><td align="left">
            <small>
              <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=5225%2BN%2BHimes%2BAve%2BTampa%2C%2BFL&ie=UTF8&z=12&t=m&iwloc=near">View Larger Map</a>
            </small>
            </td></tr></table>
          </div>
        </div>
      </div>

  </section>
</div>