<div class="color1">
  <section id="ceremony">
    <h1>Ceremony</h1>

    <p>
      Jeffrey and Clare will be married in a 2 p.m. ceremony at Christ the King Catholic Church in Tampa.
    </p>
    <address>
      821 South Dale Mabry Highway <br>
      Tampa, FL
    </address>

    <p>
      A cocktail-style reception will follow at Higgins Hall, located on the St. Lawrence Catholic Church grounds.
    </p>
    <address>
      5225 N Himes Ave,<br>
      Tampa, FL
    </address>
  </section>
</div>