<div class="color1">
  <section id="registries">

    <h2>Our Registries</h2>

    <div id="registry-buttons">
      <a href="https://secure.williams-sonoma.com/registry/ptfdhglqlq/registry-list.html" target="_blank" class="btn btn-1 btn-1e">
        Williams-Sonoma
      </a>

      <a href="http://www.myregistry.com/public/Jeffrey-Baird-Clare-Lennon" target="_blank" class="btn btn-1 btn-1e">
          MyRegistry.com
      </a>

    </div>

  </section>
</div>