<section id="registries">

  <h1>Visit Our Wedding Registries</h1>

  <div id="registry-buttons">
    <a href="https://secure.williams-sonoma.com/registry/ptfdhglqlq/registry-list.html" target="_blank">
      <button>Williams-Sonoma</button>
    </a>

    <a href="" target="_blank">
      <button>
        myregistry.com
      </button>
    </a>

  </div>

</section>