<section id="registries">

  <h1>Visit Our Wedding Registries</h1>

  <div id="registry-buttons">
    <a href="https://secure.williams-sonoma.com/registry/ptfdhglqlq/registry-list.html" target="_blank" class="btn">
      Williams-Sonoma
    </a>

    <a href="http://www.google.com" target="_blank" class="btn">
        myregistry.com
    </a>

  </div>

</section>