<section id="registries">

  <h1>Visit Our Wedding Registries</h1>

  <div id="registry-buttons">
    <a href="https://secure.williams-sonoma.com/registry/ptfdhglqlq/registry-list.html" target="_blank" class="btn">
      Williams-Sonoma
    </a>

    <a href="http://www.myregistry.com/public/Jeffrey-Baird-Clare-Lennon" target="_blank" class="btn">
        MyRegistry.com
    </a>

  </div>

</section>