<div class="color2">
  <section id="things-to-do">

    <h1>Tampa Bay Area activities</h1>

    <p>
      Here’s an <a href="http://nymag.com/travel/weekends/tampa/">article</a> from New York Magazine that highlights a few Tampa features.
    </p>

    <p>
      And below are our lists. I’m trying to keep them at least semi-balanced, but you should know where my priorities lie: food.
    </p>

      <h3>Food</h3>

    <p>
      I’m going to preface this with one piece of advice: Most places on Howard Avenue are delicious. A few will probably be overpriced.
    </p>

    <p>
      <b>El Caps:</b> Jeff’s favorite burger can be found in St. Petersburg. It’s a little bit of a drive, but it’s worth it if you’re taking a trip out to the beaches.
    </p>

    <p>
      <b>Wright’s Gourmet House:</b> This South Tampa staple is known for its sandwiches and cakes. The desserts are Clare’s favorite part -- you might see a few at the wedding!
    </p>

    <p>
      <b>Bern’s Steak House:</b> If you want a really nice night out, this is your place. (It’s also Clare’s favorite restaurant.) Bern’s usually serves local, organic food, and it has the largest private wine collection in the country. The Dessert Room is great if you are on more of a budget. Take the complimentary tour if you go here!
    </p>

    <p>
      <b>Taco Bus:</b> You read that right -- get your tacos from a bus. The restaurant has expanded into a few locations, but the original is a Tampa icon.
    </p>

    <p>
      <b>The Oxford Exchange:</b> Brunch, lunch and tea are good, but the ambiance and bookstore really make this place neat. It’s only been open for about a year, but it’s generated a lot of buzz. We took engagement photos here!
    </p>

    <p>
      <b>Datz and Datz Dough:</b> These are also South Tampa staples. Datz is great for food or just drinks, and it definitely attracts a younger crowd. Dough is the spinoff bakery next door.
    </p>

    <p>
      <b>Hugo’s:</b> If you want an authentic Cuban sandwich -- a Tampa specialty -- head to Hugo’s on Howard Avenue. (Thanks to Colin Williams for this tip!)
      La Segunda Bakery: This is the place for authentic Cuban bread and pastries.
      Oystercatchers: Delicious seafood and a great view of the Gulf of Mexico. Do I really need to say anything else?
    </p>

    <p>
      <b>The Columbia:</b> This historic restaurant in Ybor City, one of the oldest parts of Tampa, is delicious. You can’t go wrong with anything.
      Mise en Place: This is another place for a nice dinner. It’s right near downtown and the University of Tampa.
    </p>

    <p>
      <b>Xtreme Juice:</b> If you like smoothies or need to feed a large group quickly, this will change your life. It has turned me into a gigantic smoothie snob. (Bet you didn’t know there was such a thing.)
    </p>

    <h3>Family activities</h3>

    <p>
      Kate Jackson Park is popular with local families for its fountains and jungle gym. It’s also a short walk from Hyde Park Village, which is great for shopping and dining.
    </p>

    <p>
      Glazer Children’s Museum opened in the last couple years and has been getting a lot of great press.
    </p>

    <p>
      Curtis Hixon Waterfront Park is just down the street from the children’s museum.
    </p>

    <p>
      The Museum of Science and Industry (MOSI) is about 30 minutes north but has great exhibits and an IMAX dome movie theater.
    </p>

    <p>
      <b>Clearwater Marine Aquarium:</b> This is a small, not-for-profit aquarium, but you can get close to the animals. Also, “Dolphin Tale” was filmed here.
    </p>

    <p>
      <b>Florida Aquarium:</b> This has some great exhibits, including one on Florida wildlife. There’s also an outdoor playplace with fountains.
    </p>

    <p>
      <b>Lowry Park Zoo:</b> This is very kid-friendly, and the zoo has been updated and renovated in recent years.
    </p>

    <h3>Outdoor activities</h3>

    <p>
      You might have heard we have beaches.
    </p>

    <p>
      Clearwater Beach is a little touristy in places but gorgeous and a pretty easy drive. It’s consistently one of the country’s top-rated beaches. St. Petersburg Beach is an easy drive and is a little quieter.
    </p>

    <p>
      Weedon Island Preserve on Tampa Bay is great for kayaking, especially through the mangroves.
    </p>

    <p>
      Fort DeSoto Park is a great beach that’s a little quieter and good for picnicking.
    </p>

    <p>
      Caladesi Island is accessible by boat or ferry and has great nature trails and beaches.
    </p>

    <p>
      Bayshore Boulevard is the longest continuous sidewalk in the world and is a Tampa icon. This is where the Gasparilla parade is held every year, and you can walk to the Jose Gaspar pirate ship. It’s popular for rollerblading, bicycling and dog-walking as well.
    </p>

    <h3>City sightseeing</h3>

    <p>
      The Dali Museum in St. Petersburg opened in its new location in the last couple years, and it houses a huge collection on the waterfront.
    </p>

    <p>
      The Tampa Museum of Art is near Curtis Hixon park on the Hillsborough River and houses mostly modern works.
    </p>

    <p>
      The University of Tampa and the Henry B. Plant Museum are located on the Hillsborough River near downtown. The building used to be a hotel when Henry B. Plant was building railroads across Florida in the early 1900s.
      Hyde Park Village is one of my favorite places for light shopping and snacking.
    </p>

    <p>
      Ybor City is the historic Cuban section of Tampa where cigar factories used to be located. Lots of red brick, small restaurants and quirky shops.
      Waterfront St. Petersburg has small shops and cafes with a beautiful view of the marina.
    </p>

    <p>
      Cigar City Brewing offers tours and tastings of great local beers that reflect the city’s Cuban roots.
    </p>

    <h3>Nightlife</h3>

    <p>
      Howard Avenue is a good spot for the younger crowd. MacDinton’s and The Dubliner are typical local “hot spot” bars.
    </p>

    <p>
      King Corona Cigars in Ybor City is one of Jeff’s favorite places for handmade Tampa cigars and Cuban coffee.
    </p>

    <p>
      Mad Dog’s and Englishmen is a great little local pub that Jeff likes.
    </p>
  </section>
</div>
