body
  font-family: 'Merriweather Sans', sans-serif
  background-image: url('../img/ticks.png')
  background-repeat: repeat
  font-weight: 400

nav
  text-align: center
  margin: auto
  position: fixed
  font-weight: 700
  font-size: 1.25em
  color: #666
  background-color: #666
  width: 100%

.smoothScroll
  text-decoration: none
  padding: 30px
  color: #666 * 2


section
  color: #666
  text-shadow: 5px
  text-align: center
  width: 70%
  margin: auto
  padding: 10px 5px 30px 5px
  border-bottom: thin solid #666

  h1
    text-align: center
    font-weight: 700
    font-size: 4em

  h2
    font-family: 'Merriweather Sans', sans-serif
    font-weight: 700
    font-size: 2.5em

  h3
    font-family: 'Merriweather Sans', sans-serif
    font-weight: 700
    font-size: 1.5em


  aside
    text-align: center
    font-size: 1.25em
    border: 2px #333
    margin-bottom: 15px

  p
    font-size: 1.25em

#registries
  border-bottom: none

.btn

  border: none
  font-size: 2em
  margin: 13px
  margin-bottom: 30px
  background: #bdc3c7 / 1.5
  color: #ffffff
  padding: 18px 24px 20px 10px
  line-height: 22px
  text-decoration: none
  text-shadow: none
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  -webkit-transition: 0.25s
  -moz-transition: 0.25s
  -o-transition: 0.25s
  transition: 0.25s
  -webkit-backface-visibility: hidden

.regstry-buttons
  margin: 20px

.header-img
  max-width: 100%
  box-shadow: 4px

.bios
  width: 100%
  margin: auto
  overflow: hidden

.jeff
  width: 45%
  margin: auto
  padding: 0% 2% 0px 2%
  float: left
  border-right: thin dashed #333

.clare
  width: 45%
  margin: auto
  padding: 0% 2% 0px 2%
  float: left